img {
  max-width: 100%;
  height: 100%;
}

.gpt3__blog-container_article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--color-footer);
}

.gpt3__blog-container_article-image {
  height: 100%;
  background: var(--color-footer);
}

.gpt3__blog-container_article-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  padding: 1em 1.5em;
  height: 100%;
}

.gpt3__blog-container_article-content p{
  font-family: var(--font-family);
  color: #FFFFFF;
  font-weight: 700;
  font-size: 0.728rem;
  line-height: 35px;
  /* identical to box height, or 300% */
  padding: 1em 0;
}

.gpt3__blog-container_article-content h3{
  font-family: var(--font-family);
  color: #FFFFFF;
  font-weight: 800;
  font-size: 1.207rem;
  line-height: 30px;
  /* or 157% */

  margin-bottom: 5em;
  cursor: pointer;
}

.gpt3__blog-container_article-content p:last-child {
  cursor: pointer;

}

.gpt3__blog-container_article-content p:last-child:hover, .gpt3__blog-container_article-content h3:hover {
  color: var(--color-text)
}

@media screen and (max-width: 550px) {
  .gpt3__blog-container_article-content h3 {
    font-size: 1.125rem;
    line-height: 25px;
  }
}